In [6]:
# We convert all string in the capital letters.
name = "Tony Stark"
print(name.upper())

TONY STARK

In [7]:
# We convert all string in the small letters.
name = "Tony Stark"
print(name.lower())

tony stark

In [8]:
# Find the string.
name = "Tony Stark"
print(name.find("S"))

5

In [9]:
# Find  "s" string .
name = "Tony Stark"
print(name.find("s"))

-1

In [10]:
# For replacing the string, we use this code but it not change the origenal string.
name = "Tony Stark"
print(name.replace("Tony Stark","Ironman"))

Ironman

In [11]:
# we use 'in' keyword for that word which we search are existing or not.
name = "Tony Stark"
print('T' in name)

True

In [13]:
name = "Tony Stark"
print('M' in name)

False

# Arithmetic operators

In [16]:
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 // 2)
print(5 % 2)
print(5 ** 2)

7
3
10
2.5
2
1
25

In [27]:
# shortcuts for arithmetic operators
i = 5
i += 2
print("sum =",i)
i -= 2
print("subtraction =",i)
i *= 2
print("multiplication =",i)
i /= 2
print("divide =",i)

sum = 7
subtraction = 5
multiplication = 10
divide = 5.0

# Operator Precedence

In [4]:
# In this we give the precedence of the operators.
result = 4 + 2 * 6 
print(result)

result = 4 - 2 / 6 
print(result)

result = (4 - 3) + (2 * 6 /2) 
print(result)

16
3.6666666666666665
7.0

# Comparision Operator

In [1]:
print(3 > 2)

True

In [5]:
print(3 < 2)
print( 5!= 3)

False
True

In [4]:
print(4 == 2)
print(4 == 4)

False
True

# Logical Operators
### or , and , not

In [7]:
print( 2 > 1 or 3 < 2)  # If one condision is false then it return true.
print( 4 > 2 or 2 < 3)
print( 2 > 5 or 3 > 4)

True
True
False

In [8]:
print( 2 > 1 and 3 < 2)  # If one condision is false then it return false.
print( 4 > 2 and 2 < 3)
print( 2 > 5 and 3 > 4)

False
True
False

In [10]:
print( not 4 > 2) # It converts the reverse of the answer.

False

### if , elif , else statements

In [16]:
age = int(input("Enter the age : "))

if age >= 18:
    print("you are adult ")
    print("you can vote")

elif age < 18 and age >3:           # elif condition work when 'if' condition is false.
    print ("you are in school")

elif age <= 3:
    print("you are child")

you are adult
you can vote

# Range
### eg: range(4) means  0,1,2,3

In [1]:
number = range(6)
print(number)

range(0, 6)

# while loop :

In [3]:
i = 1
while i <= 25:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [4]:
i = 1
while i <= 8:
    print(i * '*')
    i = i + 1

*
**
***
****
*****
******
*******
********

In [7]:
i = 6
while i >= 0:
    print(i * "*")
    i = i - 1

******
*****
****
***
**
*

# for loop

In [4]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [5]:
for item in range(10):
    print(item + 1)

1
2
3
4
5
6
7
8
9
10

# List Data type

In [9]:
marks = [96, 87, 89, 79, 86]
print(marks)

print(marks[0])        # 0 means 0 index.

print(marks[1])

print(marks[1:4])

[96, 87, 89, 79, 86]
96
87
[87, 89, 79]

In [12]:
marks = [96, 87, 89, 79, 86]

marks.append(99)                # 'append' means add something which added in the last of the list.
print(marks)

[96, 87, 89, 79, 86, 99]

In [16]:
marks = [96, 87, 89, 79, 86]

marks.insert(2, 99)             # 'insert' means add something, which added in the given index place.
print(marks)

print(99 in marks)              # "in" keyword is use to check that 99 no. exist or not.
print(90 in marks)

[96, 87, 99, 89, 79, 86]
True
False

### Break keyword

In [21]:
students = ["ram", "shyam", "ankit", "sakshi", "tushar", "preeti"]

for student in students:
    if student == "tushar":
        break;                      # "break" keyword is use when we want to break the line.
    print(student)

ram
shyam
ankit
sakshi